@import url('./Drawer.css');

.about-drawer .drawer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-text {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
}