.image-transform-controls {
  position: absolute;
  pointer-events: all; /* Make the entire control area interactive */
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
}

.image-delete-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}