@import url('./Drawer.css');

.drawer-content.size-drawer {
  height: 70px;
  max-height: 70px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  border-top: none;
  background-color: #555555;
  animation: none;
}

.size-drawer .drawer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 1rem;
}

.drawer-back-button {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.info-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px; /* Match back button */
  cursor: pointer;
}

.size-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.drawer-button-divider {
  width: 1px;
  height: 40%;
  background-color: #666;
  margin: 0 0.5rem;
}

.size-option-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  padding: 0.25rem;
}

.size-option-icon-wrapper {
  font-size: 24px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #666;
  transition: background-color 0.2s ease-in-out;
}

.size-option-button.active {
  color: #333333;
}

.size-option-button.active .size-option-icon-wrapper {
  background-color: #ffffff;
  border-color: #ffffff;
}
