/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* White background on desktop */
  color: #333;
  -webkit-tap-highlight-color: transparent;
}
